@font-face {
  font-family: 'Koulen';
  src: url(../font/Koulen-Regular.ttf);
}

:root{
  --main-white-color: white;
  --main-yellow-color: #F9BE01;
  --main-blue1-color: #015A9B;
  --main-blue2-color: #013069;
  --main-blue3-color: #014886;
}
  
*{
  font-family: 'Koulen';
  color: white;
  margin: 0;
  padding: 0;
  text-decoration: none;
}

body {
  background: radial-gradient(circle, var(--main-blue1-color) 0%, var(--main-blue2-color) 90%);
  display: grid;
  width: 100vw;
  height: 100vh;
  grid-template-areas: 
    "head head head"
    "main main aside"
    "foot foot foot"
  ;
  
  grid-template-rows: 3.5vw auto 3.5vw;
  grid-template-columns: auto auto 13vw;
  overflow-x: hidden;
}
    
header{grid-area: head; background: var(--main-blue3-color);}
aside{grid-area: aside;}
main{grid-area: main;}
footer{grid-area: foot; background: var(--main-blue3-color);}


header{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

header > h1{
  font-size: 1.5vw;
}

header > img{
  width: 2.5vw;
}

#icon-left{
  margin: 0px 0px 0px 30px;
}

#icon-right{
  margin: 0px 30px 0px 0px;
}

#icon-cortex{
  
  position: sticky;
  right: 3vw;
  top: 7vw;
  width: 10vw;
  height: 10vw;
  border-radius: 50%;

  background: url(../pictures/icon-cortex.jpg), center, no-repeat;
  background-size: 100%;
  box-shadow: inset 3px 10px 25px rgba(0, 0, 0, 0.25);

  outline: var(--main-yellow-color) thick double;
  animation: outline-offset-animation 3s infinite linear;
}

@keyframes outline-offset-animation{
  0%{
    outline-offset: 1vw;
  }

  50%{
    outline-offset: 0.5vw;
  }

  100%{
    outline-offset: 1vw;
  }
}

main{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin:4vw ;
  border: thick double var(--main-yellow-color);
  border-radius: 10px;
  font-size: 1.5vw;
}

main > h1 {
  font-size: 2vw;
}

main > div{
  display: flex;
  flex-direction: row;
  gap: 20vw;
  margin: 3vw;
}

p{
  text-align: center;
}

#main-texte{
  margin: 3vw;
  text-align: justify;
  text-indent: 10vw;
}


div > img{
  border: thick double var(--main-yellow-color);
  width: 15vw;
}



footer, footer > div{
  
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  overflow: hidden;
}

footer > h1{
  margin-left: 120px;
  font-size: 1.5vw;
}

footer > a > img{
  
  margin: 10px 0px 0px 30px;
  width: 2.5vw;
}

.validateur{
  
  margin: 10px 30px 0px 0px;
  width: 5vw;
  font-size: 1.5vw;
}